<div class="cd-filter">
        <form>
        
            <div class="cd-filter-block">
                <h4>Choose a Store</h4>

                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
                        <label class="radio-label" for="radio1">All</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".amazon" type="radio" name="radioButton" id="radio2">
                        <label class="radio-label" for="radio2">Amazon</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
                        <label class="radio-label" for="radio3">Amazon.com</label>
                    </li>
                                <li>
                        <input class="filter" data-filter=".radio4" type="radio" name="radioButton" id="radio4" disabled>
                        <label class="radio-label" for="radio4" >BestBuy.com</label>
                    </li>
                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->
                            
        </form>
        <a href="#0" class="cd-close"><i class="icon ent-close"></i> close </a>
    </div> <!-- cd-filter -->