<div class="cd-filter">
        <form>
        
            <div class="cd-filter-block">
                <h4>Choose a Store</h4>

                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
                        <label class="radio-label" for="radio1">All</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".amazon" type="radio" name="radioButton" id="radio2">
                        <label class="radio-label" for="radio2">Amazon</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
                        <label class="radio-label" for="radio3">Amazon.com</label>
                    </li>
                                <li>
                        <input class="filter" data-filter=".radio4" type="radio" name="radioButton" id="radio4" disabled>
                        <label class="radio-label" for="radio4" >BestBuy.com</label>
                    </li>
                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

            <div class="cd-filter-block">
                <h4>Filter Results</h4>
                
                <div class="cd-filter-content">
                    <input type="search" placeholder="Search Amazon.com">
                </div> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

            <div class="cd-filter-block">
                <h4>Categories</h4>

                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                        <label class="checkbox-label" for="checkbox1">iPhone</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                        <label class="checkbox-label" for="checkbox2">iPad</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox3">Apple TV</label>
                    </li>
                                <li>
                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox3">Macbook</label>
                    </li>
                                <li>
                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox3">Macbook Air</label>
                    </li>
                                <li>
                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox3">Macbook Pro</label>
                    </li>
                                <li>
                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox3">Apple Accessories</label>
                    </li>
                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

            <div class="cd-filter-block">
                <h4>Currency</h4>
                
                <div class="cd-filter-content">
                    <div class="cd-select cd-filters">
                        <select class="filter" name="selectThis" id="selectThis">
                            <option value="">ARS</option>
                            <option value=".option1">USD</option>
                            <option value=".option2">BRL</option>
                            <option value=".option3">EUR</option>
                            <option value=".option4">GBP</option>
                        </select>
                    </div> <!-- cd-select -->
                </div> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

                
        </form>
        <a href="#0" class="cd-close"><i class="icon ent-close"></i> close </a>
    </div> <!-- cd-filter -->